### Collecting & cleaning data from TMDb's API

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import tmdbsimple as tmdb
tmdb.API_KEY = '3a551dd786dfaa4c4adaedd297662d47'  #redact this

In [2]:
mov = tmdb.Movies().latest()  #info on latest movie added to tmdb

In [3]:
mov['id']  #latest (highest) film id number

592457

In [5]:
# lists that can be turned into pandas dataframes

info = [tmdb.Movies(i).info(append_to_response='credits') for i in [550,807, 16869]]
releases = [tmdb.Movies(i).releases() for i in [550,807, 16869]] # and 16869
keywords = [tmdb.Movies(i).keywords for i in [550,807, 16869]]

In [15]:
info[0];

In [7]:
df = pd.DataFrame(info)  # converting one of the above lists a dataframe

In [8]:
df.head()

   adult                     backdrop_path belongs_to_collection    budget                                            credits                                             genres                                    homepage     id    imdb_id original_language        original_title                                           overview  popularity                       poster_path                               production_companies                               production_countries release_date    revenue  runtime                                   spoken_languages    status                                      tagline                 title  video  vote_average  vote_count
0  False  /52AfXWuXCHn3UjD17rBruA9f5qb.jpg                  None  63000000  {'cast': [{'cast_id': 4, 'character': 'The Nar...                      [{'id': 18, 'name': 'Drama'}]  http://www.foxmovies.com/movies/fight-club    550  tt0137523                en            Fight Club  A ticking-time-bomb insomniac and a slippery s...      25.752  /adw6Lq9FiC9zjYEpOqfq03ituwp.jpg  [{'id': 508, 'logo_path': '/7PzJdsLGlR7oW4J0J5...  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...   1999-10-15  100853753      139           [{'iso_639_1': 'en', 'name': 'English'}]  Released                      Mischief. Mayhem. Soap.            Fight Club  False           8.4       15741
1  False  /A0WKbRIojF9DUWG4XLCmg5JK6I5.jpg                  None  33000000  {'cast': [{'cast_id': 17, 'character': 'Detect...  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...                  http://www.sevenmovie.com/    807  tt0114369                en                 Se7en  Two homicide detectives are on a desperate hun...      30.955  /8zw8IL4zEPjkh8Aysdcd0FwGMb0.jpg  [{'id': 4286, 'logo_path': None, 'name': 'Juno...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-09-22  327311859      127           [{'iso_639_1': 'en', 'name': 'English'}]  Released        Seven deadly sins. Seven ways to die.                 Se7en  False           8.3       10203
2  False  /7nF6B9yCEq1ZCT82sGJVtNxOcl5.jpg                  None  70000000  {'cast': [{'cast_id': 3, 'character': 'First L...  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...   http://www.inglouriousbasterds-movie.com/  16869  tt0361748                en  Inglourious Basterds  In Nazi-occupied France during World War II, a...      23.879   /ai0LXkzVM3hMjDhvFdKMUemoBe.jpg  [{'id': 308, 'logo_path': '/e8F3mQM7DkJ5SfYYDp...  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...   2009-08-18  319131050      153  [{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...  Released  Once upon a time in Nazi occupied France...  Inglourious Basterds  False           8.1       11456

In [9]:
list(df.loc[2:3,'credits']);

In [10]:
search = tmdb.Search()
response = search.movie(query='Basterds')
for s in search.results:
    print(s['title'], " ", s['id'], " ", s['release_date'])
    
# I should pull data up to about id 350,000

Inglourious Basterds   16869   2009-08-18
Caribbean Basterds   71860   2010-08-20
Tarantino's Basterds   299604   2009-08-01

In [13]:
## testing try-except for api calls

inf = []
releases_and_keywords = []
for i in range(343617, 343719):  #testing: 343618 does not correspond to a movie
    try:
        inf.append(tmdb.Movies(i).info(append_to_response='credits'))
    except:
        continue
        
        
# movies = [tmdb.Movies(i) for i in [550,807,16869]]
# info = [movie.info(append_to_response='credits') for movie in movies]
# credits = [movie.credits() for movie in movies]
# releases = [movie.releases() for movie in movies]
# keywords = [movie.keywords() for movie in movies]
               
               
               
# movt = tmdb.Movies(343618)
# movt.info()