# Exploring the API

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import tmdbsimple as tmdb
tmdb.API_KEY =  #redacted

In [2]:
mov = tmdb.Movies().latest()  #info on latest movie added to tmdb

In [3]:
mov['id']  #latest (highest) film id number

592467

In [4]:
# lists that can be turned into pandas dataframes

info = [tmdb.Movies(i).info() for i in [550,807, 16869]]
credits = [tmdb.Movies(i).credits() for i in [550,807, 16869]]
releases = [tmdb.Movies(i).releases() for i in [550,807, 16869]]
### do I care about keywords? maybe save for later if there is time
# keywords = [tmdb.Movies(i).keywords for i in [550,807, 16869]]

In [5]:
info[0];

In [13]:
df = pd.DataFrame(credits)  # converting one of the above lists a dataframe

In [14]:
df.head()

                                                cast                                               crew     id
0  [{'cast_id': 4, 'character': 'The Narrator', '...  [{'credit_id': '52fe4250c3a36847f8014a05', 'de...    550
1  [{'cast_id': 17, 'character': 'Detective David...  [{'credit_id': '52fe4279c3a36847f8021739', 'de...    807
2  [{'cast_id': 3, 'character': 'First Lieutenant...  [{'credit_id': '52fe46f29251416c75088c65', 'de...  16869

In [25]:
list(df.loc[2:3, 'crew']);

In [24]:
search = tmdb.Search()
response = search.movie(query='Green Book')
for s in search.results:
    print(s['title'], " ", s['id'], " ", s['release_date'])
    
# After running this query on several very recent movies,
# it looks like I should pull data up to about id 500,000

Green Book   490132   2018-11-16
The Green Book: Guide to Freedom   581012   2019-02-25

In [13]:
## testing try-except for api calls

inf = []
releases_and_keywords = []
for i in range(343617, 343637):  #testing: 343618 does not correspond to a movie
    try:
        inf.append(tmdb.Movies(i).info())
    except:
        continue