In [1]:
import pandas as pd

In [6]:
nums = pd.read_csv("data/raw/the-numbers.csv")

In [7]:
bom = pd.read_csv("data/raw/box-office-mojo.csv")

In [10]:
nums.head(10)

,release,title,budget,domestic,worldwide
0,2009-12-18,Avatar,425000000,760507625,2776345279
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,2019-04-26,Avengers: Endgame,400000000,848768907,2772749754
3,2019-06-07,Dark Phoenix,350000000,64782713,245510828
4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200
8,2007-05-24,Pirates of the Caribbean: At Worldâs End,300000000,309420425,963420425
9,2017-11-17,Justice League,300000000,229024295,655945209

In [19]:
nums[nums['title'].str.contains('â\x80\x99', na=False)]

,release,title,budget,domestic,worldwide
8,2007-05-24,Pirates of the Caribbean: At Worldâs End,300000000,309420425,963420425
28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,225000000,423315812,1066215812
72,2009-11-06,Disneyâs A Christmas Carol,190000000,137855863,315709697
263,2001-11-16,Harry Potter and the Sorcererâs Stone,125000000,317871467,975047606
280,2016-12-21,Assassinâs Creed,125000000,54647948,240759682
309,2016-04-22,The Huntsman: Winterâs War,115000000,48003015,165149302
329,2016-09-30,Miss Peregrineâs Home for Peculiar Children,110000000,87242834,295986876
500,2009-12-25,Itâs Complicated,85000000,112735375,224614744
625,2018-11-09,Dr. Seussâ The Grinch,75000000,270620950,511006399
695,2018-06-08,Oceanâs 8,70000000,140218711,297115976
701,2017-11-10,Daddyâs Home 2,70000000,104029443,175807183
742,2014-05-09,Legends of Oz: Dorothyâs Return,70000000,8462347,20107933
787,2016-08-12,Peteâs Dragon,65000000,76233151,137768975
836,2019-01-11,A Dogâs Way Home,61000000,41952715,81151521
937,2014-02-14,Winterâs Tale,60000000,12600231,29575033
1081,2015-12-25,Daddyâs Home,50000000,150357137,242757137
1121,2001-09-28,Donât Say a Word,50000000,54997476,104488383
1330,2018-11-09,The Girl in the Spiderâs Web,43000000,14828555,34983342
1362,2001-05-11,A Knightâs Tale,41000000,56083966,100622586
1518,2016-11-11,Billy Lynnâs Long Halftime Walk,40000000,1738477,30230402
1689,2016-09-16,Bridget Jonesâs Baby,35000000,24139805,205822688
1810,1995-12-29,Mr. Hollandâs Opus,31000000,82582604,106282604
1816,2019-02-13,Isnât it Romantic,31000000,48791187,48791187
1851,2017-08-18,The Hitmanâs Bodyguard,30000000,75468583,172778667
1921,2017-12-25,Mollyâs Game,30000000,28780744,53296424
2060,2001-08-24,John Carpenterâs Ghosts of Mars,28000000,8434601,8434601
2102,2016-11-23,Rules Donât Apply,26700000,3652206,3871448
2114,2011-12-09,New Yearâs Eve,26000000,54544638,146850273
2152,1993-12-15,Schindlerâs List,25000000,96898818,322197132
2169,2017-01-27,A Dogâs Purpose,25000000,64321890,203671625
...,...,...,...,...,...
2488,2016-10-21,Tyler Perryâs Boo! A Madea Halloween,20000000,73206343,73206343
2510,2017-10-20,Tyler Perryâs Boo 2! A Madea Halloween,20000000,47319572,47879572
2585,2017-03-31,The Zookeeperâs Wife,20000000,17445186,26308749
2655,2007-11-21,Iâm Not There,20000000,4017609,12397613
2697,2012-11-23,De rouille et dâos,19500000,2061449,29393634
2715,2018-11-02,Nobodyâs Fool,19000000,31713110,32589493
2845,2014-08-13,Letâs Be Cops,17000000,82390774,136890774
2971,2010-11-26,The Kingâs Speech,15000000,138797449,430821168
2988,1983-07-29,National Lampoonâs Vacation,15000000,61400000,61400000
3436,2009-10-09,St. Trinianâs,11400000,15000,29830239
3510,2016-08-26,Donât Breathe,10000000,89217875,158973685
3534,1985-06-28,St. Elmoâs Fire,10000000,37800000,37800000
3538,1977-11-03,Peteâs Dragon,10000000,36000000,36000000
3633,2010-06-18,Io sono lâamore,10000000,5005465,15121528
4049,2010-05-21,Perrierâs Bounty,6600000,828,828
4096,2002-04-05,National Lampoonâs Van Wilder,6000000,21305259,39241323
4233,1991-09-13,Freddyâs Dead: The Final Nightmare,5000000,34872033,34872033
4250,2016-04-01,Godâs Not Dead 2,5000000,20773069,23551286
4272,2016-07-15,Hillaryâs America: The Secret History of the...,5000000,13099931,13099931
4284,2014-05-09,Momsâ Night Out,5000000,10429707,10537341
4296,2006-01-06,Grandmaâs Boy,5000000,6090172,6590172
4622,1946-12-20,Itâs a Wonderful Life,3180000,6600000,10768908
4656,1999-05-12,Trippinâ,3000000,9017070,9017070
4669,2016-07-22,Donât Think Twice,3000000,4417983,4417983
4772,2012-07-13,2016: Obamaâs America,2500000,33349941,33349941
4946,2012-03-30,The Legend of Hellâs Gate: An American Consp...,2000000,0,0
4991,2015-10-20,Beginnerâs Guide to Sex,1800000,0,0
5019,1955-08-05,The Kingâs Thief,1577000,0,0
5038,2016-10-21,Iâm Not Ashamed,1500000,2082980,2082980
5146,2014-03-21,Godâs Not Dead,1150000,60755732,63777092

In [23]:
#replacing these errors with correct apostrophes
nums['title'] = nums['title'].str.replace('â\x80\x99', '\'')

In [25]:
bom[bom['movie'].str.contains('\'', na=False)]

,Unnamed: 0,rank,movie,year_released,american_box_office,international_box_office,total_box_office
173,751,174,Madagascar 3: Europe's Most Wanted,2012,216391482.0,530529789.0,746921271.0
180,821,181,Doctor Seuss' The Lorax,2012,214030500.0,136946253.0,350976753.0
241,432,242,Ocean's Eleven,2001,183417150.0,267311379.0,450728529.0
267,692,268,There's Something About Mary,1998,176484651.0,193400000.0,369884651.0
318,203,319,A Bug's Life,1998,162798565.0,200296754.0,363095319.0
360,623,361,We're the Millers,2013,150394119.0,117422157.0,267816276.0
402,416,403,National Lampoon's Animal House,1978,141600000.0,NaN,141600000.0
412,144,413,Look Who's Talking,1989,140088813.0,157011187.0,297100000.0
496,984,497,My Best Friend's Wedding,1997,126813153.0,172110266.0,298923419.0
508,106,509,Ocean's Twelve,2004,125531634.0,237457442.0,362989076.0
510,125,511,Charlie's Angels,2000,125305545.0,134430545.0,259736090.0
520,225,521,Something's Gotta Give,2003,124685242.0,142000000.0,266685242.0
531,335,532,Wayne's World,1992,121697323.0,61400000.0,183097323.0
556,585,557,Lemony Snicket's A Series of Unfortunate Events,2004,118627117.0,94328907.0,212956024.0
563,655,564,Big Momma's House,2000,117559438.0,56000000.0,173559438.0
569,719,570,Ocean's Thirteen,2007,117144465.0,194600000.0,311744465.0
574,765,575,Lee Daniels' The Butler,2013,116632095.0,60393403.0,177025498.0
578,805,579,You've Got Mail,1998,115821495.0,134978505.0,250800000.0
619,2110,620,Valentine's Day,2010,110485654.0,107083674.0,217569328.0
627,296,628,Porky's,1982,109492484.0,NaN,109492484.0
631,336,632,One Flew Over the Cuckoo's Nest,1975,108981275.0,16354.0,108997629.0
691,936,692,The General's Daughter,1999,102705852.0,47000000.0,149705852.0
724,267,725,Charlie's Angels: Full Throttle,2003,100814328.0,126385672.0,227200000.0
748,507,749,You Don't Mess With the Zohan,2008,100018837.0,102892154.0,202910991.0
782,847,783,He's Just Not That Into You,2009,93953653.0,87100004.0,181053657.0
788,907,789,America's Sweethearts,2001,93607673.0,67040820.0,160648493.0
841,438,842,The Emperor's New Groove,2000,89296573.0,80000000.0,169296573.0
926,289,927,Charlotte's Web,2006,82985708.0,61000000.0,143985708.0
934,369,935,Bram Stoker's Dracula,1992,82522790.0,133339902.0,215862692.0
1010,1210,1011,La marche de l'empereur,2005,77437223.0,55839136.0,133276359.0
...,...,...,...,...,...,...,...
14498,100144,14499,J'entends plus la guitare,2008,12876.0,NaN,12876.0
14509,11145,14510,I'm Losing You,1999,12688.0,NaN,12688.0
14520,22161,14521,I'm Not Jesus Mommy,2011,12620.0,NaN,12620.0
14549,51184,14550,Big Ain't Bad,2004,12288.0,NaN,12288.0
14575,77145,14576,I'll Believe You,2007,12010.0,NaN,12010.0
14576,78145,14577,Picture Me: A Model's Diary,2010,12008.0,NaN,12008.0
14610,12146,14611,Marie's Story,2015,11720.0,222484.0,234204.0
14629,31185,14630,L'enlèvement de Michel Houellebecq,2015,11546.0,NaN,11546.0
14647,49146,14648,L'invention de l'amour,2000,11390.0,NaN,11390.0
14663,65146,14664,The Devil's Violinist,2015,11294.0,NaN,11294.0
14690,92162,14691,I Hate Valentine's Day,2009,11004.0,NaN,11004.0
14723,25147,14724,Matrimonio all'italiana,2011,10600.0,NaN,10600.0
14726,28147,14727,Bobby G. Can't Swim,2002,10575.0,NaN,10575.0
14731,33150,14732,Didn't Do It For Love,1998,10525.0,NaN,10525.0
14741,43150,14742,Don't Let Me Die on a Sunday,2000,10471.0,NaN,10471.0
14760,62163,14761,L'affaire SK1,2016,10330.0,2563070.0,2573400.0
14770,72163,14771,GhettoPhysics: Will the Real Pimps and Ho's Ple…,2010,10229.0,NaN,10229.0
14784,86147,14785,Putin's Kiss,2012,10082.0,NaN,10082.0
14803,5900,14804,Nina's Heavenly Delights,2007,9936.0,NaN,9936.0
14826,28148,14827,Youssou N'Dour: Return to Goree,2008,9746.0,NaN,9746.0
14827,29148,14828,The President's Last Bang,2005,9724.0,NaN,9724.0
14863,65148,14864,Let's Get Frank,2004,9386.0,NaN,9386.0
14869,71187,14870,BRO',2012,9329.0,NaN,9329.0
14879,81187,14880,Rana's Wedding,2003,9250.0,NaN,9250.0
14881,83151,14882,Une Femme d'extérieur,2000,9238.0,NaN,9238.0
14896,98148,14897,Hell's Kitchen,1999,9122.0,NaN,9122.0
14939,41188,14940,I'll Sing for You,2004,8798.0,NaN,8798.0
14950,52165,14951,De l'autre côté du périph,2014,8689.0,24774264.0,24782953.0
14970,72165,14971,If I Didn't Care,2007,8527.0,NaN,8527.0
14997,99149,14998,Christmas at Maxwell's,2006,8370.0,NaN,8370.0

## Merging... let's see how many rows we still have

In [26]:
bom.rename(columns={'movie':'title'}, inplace=True)

In [27]:
bom.head()

,Unnamed: 0,rank,title,year_released,american_box_office,international_box_office,total_box_office
0,2,1,Star Wars Ep. VII: The Force Awakens,2015,936662225.0,1.116649e+09,2.053311e+09
1,3,2,Avengers: Endgame,2019,848768907.0,1.923981e+09,2.772750e+09
2,4,3,Avatar,2009,760507625.0,2.015838e+09,2.776345e+09
3,5,4,Black Panther,2018,700059566.0,6.481987e+08,1.348258e+09
4,6,5,Avengers: Infinity War,2018,678815482.0,1.369319e+09,2.048134e+09

In [29]:
df = pd.merge(nums, bom, on='title')

In [30]:
len(df)

5363

In [31]:
df.head()

,release,title,budget,domestic,worldwide,Unnamed: 0,rank,year_released,american_box_office,international_box_office,total_box_office
0,2009-12-18,Avatar,425000000,760507625,2776345279,4,3,2009,760507625.0,2.015838e+09,2.776345e+09
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,371,136,2011,241063875.0,8.046000e+08,1.045664e+09
2,2019-04-26,Avengers: Endgame,400000000,848768907,2772749754,3,2,2019,848768907.0,1.923981e+09,2.772750e+09
3,2019-06-07,Dark Phoenix,350000000,64782713,245510828,6912,1268,2019,64782713.0,1.807281e+08,2.455108e+08
4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,18,17,2015,459005868.0,9.440081e+08,1.403014e+09