### Collecting & cleaning data from TMDb's API

In [155]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import tmdbsimple as tmdb
tmdb.API_KEY = '3a551dd786dfaa4c4adaedd297662d47'  #redact this

In [233]:
mov = tmdb.Movies().latest()
mov['id']  #highest film id currently

592400

In [234]:
movies = [tmdb.Movies(i) for i in [550,807,16869]]
info = [movie.info() for movie in movies]

In [236]:
df = pd.DataFrame(info)

In [237]:
df.head()

   adult                     backdrop_path belongs_to_collection    budget                                             genres                                    homepage     id    imdb_id original_language        original_title                                           overview  popularity                       poster_path                               production_companies                               production_countries release_date    revenue  runtime                                   spoken_languages    status                                      tagline                 title  video  vote_average  vote_count
0  False  /52AfXWuXCHn3UjD17rBruA9f5qb.jpg                  None  63000000                      [{'id': 18, 'name': 'Drama'}]  http://www.foxmovies.com/movies/fight-club    550  tt0137523                en            Fight Club  A ticking-time-bomb insomniac and a slippery s...      25.752  /adw6Lq9FiC9zjYEpOqfq03ituwp.jpg  [{'id': 508, 'logo_path': '/7PzJdsLGlR7oW4J0J5...  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...   1999-10-15  100853753      139           [{'iso_639_1': 'en', 'name': 'English'}]  Released                      Mischief. Mayhem. Soap.            Fight Club  False           8.4       15741
1  False  /A0WKbRIojF9DUWG4XLCmg5JK6I5.jpg                  None  33000000  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...                  http://www.sevenmovie.com/    807  tt0114369                en                 Se7en  Two homicide detectives are on a desperate hun...      30.955  /8zw8IL4zEPjkh8Aysdcd0FwGMb0.jpg  [{'id': 4286, 'logo_path': None, 'name': 'Juno...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-09-22  327311859      127           [{'iso_639_1': 'en', 'name': 'English'}]  Released        Seven deadly sins. Seven ways to die.                 Se7en  False           8.3       10202
2  False  /7nF6B9yCEq1ZCT82sGJVtNxOcl5.jpg                  None  70000000  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...   http://www.inglouriousbasterds-movie.com/  16869  tt0361748                en  Inglourious Basterds  In Nazi-occupied France during World War II, a...      23.879   /ai0LXkzVM3hMjDhvFdKMUemoBe.jpg  [{'id': 308, 'logo_path': '/e8F3mQM7DkJ5SfYYDp...  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...   2009-08-18  319131050      153  [{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...  Released  Once upon a time in Nazi occupied France...  Inglourious Basterds  False           8.1       11450

In [238]:
list(df.loc[2:3,'production_companies'])

[[{'id': 308,
   'logo_path': '/e8F3mQM7DkJ5SfYYDp8FYzPBOGX.png',
   'name': 'The Weinstein Company',
   'origin_country': 'US'},
  {'id': 33,
   'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
   'name': 'Universal Pictures',
   'origin_country': 'US'},
  {'id': 59,
   'logo_path': '/yH7OMeSxhfP0AVM6iT0rsF3F4ZC.png',
   'name': 'A Band Apart',
   'origin_country': 'US'},
  {'id': 6817,
   'logo_path': None,
   'name': 'Zehnte Babelsberg Film',
   'origin_country': 'DE'},
  {'id': 6818,
   'logo_path': None,
   'name': 'Visiona Romantica',
   'origin_country': 'US'}]]

In [240]:
search = tmdb.Search()
response = search.movie(query='Reacher')
for s in search.results:
    print(s['title'], " ", s['id'], " ", s['release_date'])

Jack Reacher   75780   2012-12-20
Jack Reacher: Never Go Back   343611   2016-10-19